# 1. Блокируем абсолютно все файлы и папки в проекте
*

# 2. Делаем исключения для конкретных папок, чтобы Гит мог в них зайти
!M1-intro-and-basic-structures/
!M1-intro-and-basic-structures/attachments/

# 3. Игнорируем всё внутри этих папок обратно
M1-intro-and-basic-structures/*
M1-intro-and-basic-structures/attachments/*

# 4. И наконец — разрешаем ТОЛЬКО наши конкретные файлы
!M1-intro-and-basic-structures/attachments/lab01-complexity-starter.py
!lab01_loglog.png
!lab01_binary_pow.png
!README.md
!.gitignore
