# Стандартные скрытые файлы и окружение
.venv/
__pycache__/
*.pyc

# Список папок и файлов, которые нужно скрыть из вашего репозитория:
requirements.txt
tests/
team/
resources/
other/
methodical-guidelines/
lectures/
data/
Exam/
Cases/
.github/
docs/
scripts/
LICENSE.md

# Дополнительно скрываем все остальные лабораторные работы, если они есть
M2-*/
M3-*/
M4-*/

# Скрываем всё внутри первой лабораторной, КРОМЕ вашего файла с кодом
M1-intro-and-basic-structures/*
!M1-intro-and-basic-structures/attachments/
M1-intro-and-basic-structures/attachments/*
!M1-intro-and-basic-structures/attachments/lab01-complexity-starter.py
