# Игнорируем стандартный мусор
.venv/
__pycache__/
*.pyc
data/generated/

# Игнорируем ВСЕ остальные лабораторные и папки курса
docs/
scripts/
M2-*/
M3-*/
M4-*/

# Заставим Git игнорировать всё внутри нашей папки, КРОМЕ стартера
M1-intro-and-basic-structures/*
!M1-intro-and-basic-structures/attachments/
M1-intro-and-basic-structures/attachments/*
!M1-intro-and-basic-structures/attachments/lab01-complexity-starter.py
